@import url("./variables.scss");
@import url("./helpers/index.scss");
@import url("./reset.scss");
@import url("./themes/themes.scss");
@import url("./typography/index.scss");

.social-app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.content-page {
  display: flex;
  width: 100%;
}

.contant-page__inner {
  flex-grow: 1;
}