@use "sass:math";
@import "helpers/mixins.scss";
@import "helpers/variablesScss.scss";
@import "variables.scss";
@import "helpers/classes.scss";
@import "reset.scss";
@import "themes/themes.scss";
@import "typography/index.scss";


#root {
  height: 100vh;
}

body {
  background: var(--body-bg);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  min-height: 100vh;
}

.social-app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--body-bg);
}

.content-page {
  display: flex;
  width: 100%;
}

.contant-page__inner {
  flex-grow: 1;
}