.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  width: 55px;
  min-width: 55px;
  height: calc(100vh - var(--navbar-height));
  background: var(--sidebar-bg);
  color: var(--sidebar-color);
  transition: .3s width, .3s min-width;
  overflow: hidden;

  &.open {
    width: 300px;
    min-width: 300px;
  }
}

.sidebarTop {
  height: 100%;
}

.sidebarBottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  min-width: 0;
  transition: transform .1s;

  &:hover {
    transform: scale(1.05);
  }
}

.iconToggle {
  transition: transform .3s;

  &.openIcon {
    transform: rotate(180deg);
  }
}

