$TextFont = $main-font
$TextSize = 16px

$button-min-width = 230px
$button-min-height = 50px
$button-min-height-mob = 45px
$button-border-radius = 1rem

.btn,
.content .btn
  display inline-block
  min-width $button-min-width
  padding-top (($button-min-height - 3px - round($TextSize * 1.7)) / 2)
  padding-bottom (($button-min-height - 1px - round($TextSize * 1.7)) / 2)
  padding-left 15px
  padding-right 15px
  border-radius 30px
  font-family $TextFont
  font-size $TextSize
  line-height round($TextSize * 1.7)
  font-weight 500
  text-decoration none
  text-align center
  user-select none
  cursor pointer
  +min-max-w($mob-l + 1, $lap-s)
    font-size ($TextSize - 2px)
    line-height round(($TextSize - 2px) * 1.7)
    padding-top (($button-min-height  - round(($TextSize - 1px) * 1.7)) / 2)
    padding-bottom (($button-min-height - round(($TextSize - 1px) * 1.7)) / 2)
  +min-max-w(1px, $mob-l)
    font-size ($TextSize - 2px)
    line-height round(($TextSize - 2px) * 1.7)
    padding-top (($button-min-height-mob - 4px - round(($TextSize) * 1.7)) / 2)
    padding-bottom (($button-min-height-mob - 0px - round(($TextSize) * 1.7)) / 2)
  +min-max-w(1px, $mob-m)
    min-width 100%
  
  &[disabled],
  &.disabled
    border-color #dfdfdf
    background-color #dfdfdf
    color #a7a7a7
    pointer-events none

// primary
$primary-bg = $primary-color
$primary-text = $primary-color-text
$primary-border = $primary-color
$primary-border-active = $primary-color
$primary-bg-active = $primary-color-active
$primary-text-active = $primary-color-text-active

.btn,
.content .btn
  &--primary
    border 1px solid $primary-border
    background-color $primary-bg
    color $primary-text
    transition color .3s ease, background-color .3s ease, border-color .3s ease

    &:hover
      +min-w($tab)
        border 1px solid $primary-border-active 
        background-color $primary-bg-active
        color $primary-text-active
        
    &.active:not([disabled]):not(.disabled),
    &:active:not([disabled]):not(.disabled),
    &:focus:focus-visible:not([disabled]):not(.disabled)
      border 1px solid $primary-border-active
      background-color $primary-bg-active
      color $primary-text-active

// secondary
$secondary-bg = $primary-color-2
$secondary-text = $primary-color-2-text
$secondary-bg-active = $primary-color-2-active
$secondary-text-active = $primary-color-2-text-active

.btn,
.content .btn
  &--secondary
    border 1px solid $secondary-bg
    background-color $secondary-bg
    color $secondary-text
    transition color .3s ease, background-color .3s ease, border-color .3s ease

    &:hover
      +min-w($tab)
        border 1px solid $secondary-bg-active
        background-color $secondary-bg-active
        color $secondary-text-active
        
    &.active:not([disabled]):not(.disabled),
    &:active:not([disabled]):not(.disabled),
    &:focus:focus-visible:not([disabled]):not(.disabled)
      border 1px solid $secondary-bg-active
      background-color $secondary-bg-active
      color $secondary-text-active

// link
$link-bg = $primary-color-2
$link-text = $primary-color-2-text
$link-border = $primary-color-2
$link-border-active = #ffffff
$link-bg-active = transparent
$link-text-active = #ffffff

.btn,
.content .btn
  &--link
    border 1px solid $link-bg
    background-color $link-bg
    color $link-text
    transition color .3s ease, background-color .3s ease, border-color .3s ease

    &:hover
      +min-w($tab)
        border 1px solid $link-border-active
        background-color $link-bg-active
        color $link-text-active
        
    &.active:not([disabled]):not(.disabled),
    &:active:not([disabled]):not(.disabled),
    &:focus:focus-visible:not([disabled]):not(.disabled)
      border 1px solid $link-border-active
      background-color $link-bg-active
      color $link-text-active

// transparent
$transparent-bg = transparent
$transparent-text = #ffffff
$transparent-border = #ffffff
$transparent-border-active = #ffffff
$transparent-bg-active = #ffffff
$transparent-text-active = $primary-color

.btn,
.content .btn
  &--transparent
    border 1px solid $transparent-text
    background-color $transparent-bg
    color $transparent-text
    transition color .3s ease, background-color .3s ease, border-color .3s ease

    &:hover
      +min-w($tab)
        border 1px solid $transparent-bg-active
        background-color $transparent-bg-active
        color $transparent-text-active
        
    &.active:not([disabled]):not(.disabled),
    &:active:not([disabled]):not(.disabled),
    &:focus:focus-visible:not([disabled]):not(.disabled)
      border 1px solid $transparent-bg-active
      background-color $transparent-bg-active
      color $transparent-text-active