$link-main-color = $primary-color
$link-main-active = $primary-color-2

$link-service-color = $primary-color-2
$link-service-active = $primary-color

.a:not(a.btn), 
.content a:not(a.btn)
  display inline
  font-weight inherit
  color $link-main-color
  border-bottom 1px solid $link-main-color
  outline none !important
  text-decoration none
  transition color .2s ease, border-color .2s ease

  &:hover
    +min-w($tab)
      color $link-main-active
      border-color $link-main-active

  &:visited
    color $link-main-color
    border-color $link-main-color

    &.active,
    &:active,
    &:focus:focus-visible
      color $link-main-active
      border-color $link-main-active

  &.active,
  &:active,
  &:focus:focus-visible
    color $link-main-active
    border-color $link-main-active
    

.service-link, 
.content a.service-link
  color $link-main-color
  border-bottom 1px solid $link-main-color

  &:hover
    +min-w($tab)
      color $link-service-active
      border-color $link-service-active

  &:visited
    color $link-service-color
    border-color $link-service-color

    &.active,
    &:active,
    &:focus:focus-visible
      color $link-service-active
      border-color $link-service-active

  &.active,
  &:active,
  &:focus:focus-visible
    color $link-service-active
    border-color $link-service-active