.content hr
  border none
  color #7f7f7f
  background-color #7f7f7f
  height 2px

b, strong
  font-weight 700

cite, dfn, em, i, var
  font-style italic

.mark, mark
  padding 0.2rem
  color $text-color
  background-color #ff0

code, pre, .tip-wrapper
  font-family $TextFont
  font-size 0.9rem
  padding 3px 8px 1px
  background-color #224352
  border 1px solid #E1E1E1
  border-radius 3px
  color #f3f1e8
  & a
    color #65d9ed !important
  & span.highlight
    &.class
      color #9fe12a
    &.tag
      color #f6266e
    &.value
      color #b999ff
    &.index
      color #fca626
    &.namespace
      color #e5e086
    &.link
      color #65d9ed

code, kbd, pre, samp, .tip-wrapper
  font-family $main-font


$SwitchDefaultBg = #CDD2DC
$SwitchActiveBg = $primary-color

.switch
  z-index 1
  position relative
  order 2
  display flex
  align-items center
  justify-content space-between
  height 30px

  input
    z-index -1
    position absolute
    width 1px
    height 1px
    opacity 0
    appearance none
    &:focus:focus-visible:not([disabled]):not(.disabled) ~ .switch__field
      box-shadow  inset 0 0 6px 2px #0000008f

  input:checked ~ .switch__field .switch__point
    right 5px
    transition right .3s ease

  input:checked ~ .switch__field
    background-color $SwitchActiveBg

  input:disabled ~ .switch__field
    background-color $SwitchDefaultBg
    cursor default

  input:checked ~ .switch__message-before
    color #ADB6BF
  input:checked ~ .switch__message-after
    color $text-color

  &__wrapper
    display flex

  &__message-before
    order 1
    margin-right 10px
    color $text-color
    font-weight 400
    line-height 1.4
    white-space nowrap
    +min-max-w(1px, $mob-l)
      margin-right 15px

  &__message-after
    order 3
    margin-left 10px
    color #ADB6BF
    font-weight 400
    line-height 1.4
    white-space nowrap
    +min-max-w(1px, $mob-l)
      margin-left 15px

  &__field
    order 2
    position relative
    width 60px
    min-width 60px
    height 100%
    border-radius 15px
    background-color $SwitchDefaultBg
    transition background-color .3s ease, box-shadow .3s ease
    cursor pointer

  &__text
    &--left
      margin-right 16px
      +min-max-w(1px, $mob-xs)
        margin-right 10px
    &--right
      margin-left 16px
      +min-max-w(1px, $mob-xs)
        margin-left 10px

  &__point
    z-index 0
    position absolute
    top 50%
    right 33px
    display block
    width 22px
    height 22px
    border-radius 50%
    background-color #ffffff
    transform translateY(-50%)
    transition right .3s ease
    +min-max-w(1px, $mob-xs)
      width 20px
      height 20px
