.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbar-bg);
}

.links {
  display: flex;
  gap: 10px;
}