.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbar-bg);
  color: var(--navbar-color);
}

.links {
  display: flex;
  gap: 10px;
}

.link {
  color: var(--navbar-color);

  &::after {
    background-color: var(--navbar-color);
  }
}