.moadlBtns {
  display: flex;
  align-items: center;
  gap: 15px;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}