.article {
  background: var(--body-alt-bg);
  cursor: pointer;
  transition: .3s;
}

.articleHover {
  transform: scale(1.01);
}

.articleTitle {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.articleTitleLeft {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.articleTitleUser {
  display: flex;
  gap: 10px;
}

.articleTitleTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.articleImg {
  width: 100%;
  max-height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.text {
  padding: 15px;
}

.articleFotter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}

.articleFotterViews {
  display: flex;
  gap: 10px;

  svg {
    height: 20px;
  }
}





.articleGridImg {
  position: relative;
  padding-top: 50%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  data {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.articleGridFooter {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
}

.articleGridFooterTop {
  display: flex;
  justify-content: space-between;
}