.theme-dark {
  --primary-color: #003;
  --secondary-color:  ;

  --bg-color: #e5e5e5;
  --bg-color-dark: #000;

  --bg-color-navbar:  #616161;

  --text-color: #e4e4e4;
  --subtext-color: #ccc;

  --btn-padding: 5px 10px

  --primary-btn-bg: ;
  --primary-btn-color: ;
  --primary-btn-border: ;

  --secondary-btn-bg: ;
  --secondary-btn-color: ;
  --secondary-btn-border: ;

  --primary-color-text: #fff;
  --primary-color-active: transparent;
  --primary-color-text-active: #1A2C52;
  --primary-color-2: #BD977E;
  --primary-color-2-text: #fff;
  --primary-color-2-active: #233144;
  --primary-color-2-text-active: #fff;
  
  --footer-bg: $primary-color-2;
  --body-bg: #fff;
  --body-alt-bg: #edf1fa;
  
  --text-color-alt: #1C3466;
}