.theme-dark {
  --primary-color: #003;
  --primary-color-text: #fff;
  --primary-color-active: transparent;
  --primary-color-text-active: #1A2C52;

  --secondary-color: #BD977E;
  --secondary-color-text: #fff;
  --secondary-color-active: #233144;
  --secondary-color-text-active: #fff;

  --bg-color: #e5e5e5;
  --bg-color-dark: #101010;

  --bg-color-navbar:  #616161;
  
  --text-color: #101010;
  --text-color-dark-bg: #e5e5e5;
  --subtext-color: #b5b5b5;




  --body-bg: #f8f8ff;
  --body-alt-bg: #edf1fa;

  --sidebar-bg: #101010;
  --sidebar-color: #e5e5e5;

  --navbar-bg: #101010;
  --navbar-color: #e5e5e5;

  --overlay-color: rgb(16 16 16 / 47%);

  --red: #F06;

}