// основные пары цветов
$primary-color = #1A2C52
$primary-color-text = #ffffff
$primary-color-active = transparent
$primary-color-text-active = #1A2C52
$primary-color-2 = #BD977E
$primary-color-2-text = #ffffff
$primary-color-2-active = #233144
$primary-color-2-text-active = #ffffff

$footer-bg = $primary-color-2  
$body-bg = #ffffff
$body-alt-bg = #edf1fa

$text-color = #233144
$text-color-alt = #1C3466

// контрольные точки
$mob-xs  = 350px
$mob-s   = 475px
$mob-m   = 575px
$mob-l   = 768px
$tab     = 920px
$lap-s   = 1024px
$lap-m   = 1200px
$lap-l   = 1440px
$lap-xl   = 1600px

// шрифты
$main-font   = 'Inter', sans-serif
$secondary-font = 'Raleway', sans-serif
$additionalFont = 'Segoe UI', sans-serif
$font-size = 18px
$font-weight = 400

// layout
$content-zone = 1320px
$content-padding = 20px
$grid-gutter-width = 20px

$preloader-color = #1A2C52
$preloader-img = '/assets/front/img/wm-spinner.svg'