// минимальный набор стилей для отображения страницы
@import 'helper/variables.styl'
@import 'helper/mixins.styl'

@import 'main/layout-and-common.styl'
@import 'main/flexboxgrid.styl'
@import 'main/fonts.styl'
@import 'main/preloader.styl'
@import 'main/metadata.styl'

@import '../../components/header/stylus/header.styl'
@import '../../components/footer/stylus/footer.styl'