@import 'helper/variables.styl'
@import 'helper/mixins.styl'

// дополнительные стили для подключенных модулей
@import 'packages/lazy-load.styl'
@import 'packages/photoswipe.styl'
@import 'packages/loadable.styl'