.btn {
  padding: var(--btn-padding);
  color: var(--text-color);
  background-color: transparent;
  :global {
    .primary {
      background-color: var(--primary-btn-bg);
      color: var(--primary-btn-color);
      border: var(--primary-btn-border);

    }
    .secondary {
      background-color: var(--secondary-btn-bg);
      color: var(--secondary-btn-color);
      border: var(--secondary-btn-border);
    }
  }
}