:global {
.divider {
	width: 100%;
	height: 0;

	&.d-0 {
		padding: 0;
	}

	&.d-5 {
		padding: 5px 0 0;
	}

	&.d-10 {
		padding: 5px 0;
	}

	&.d-15 {
		padding: 10px 0 5px;
	}

	&.d-20 {
		padding: 10px 0;
	}

	&.d-25 {
		padding: 15px 0 10px;
	}

	&.d-30 {
		padding: 15px 0;
	}

	&.d-35 {
		padding: 20px 0 15px;
	}

	&.d-40 {
		padding: 20px 0;
	}

	&.d-45 {
		padding: 25px 0 20px;
	}

	&.d-50 {
		padding: 25px 0;
	}

  &.m-0 {
    @include min-max-w(1px, $tab) {
      padding: 0;
    }
  }

  &.m-5 {
    @include min-max-w(1px, $tab) {
      padding: 5px 0 0
    }
  }

  &.m-10 {
    @include min-max-w(1px, $tab){
      padding: 5px 0
    }
  }

  &.m-15 {
    @include min-max-w(1px, $tab) {
      padding: 10px 0 5px;
    }
  }

  &.m-20 {
    @include min-max-w(1px, $tab) {
      padding: 10px 0;
    }
  }

  &.m-25 { 
    @include min-max-w(1px, $tab) {
        padding: 15px 0 10px;
      }
    }

  &.m-30 {
    @include min-max-w(1px, $tab) {
      padding: 15px 0;
    }
  }

  &.m-35 {
    @include min-max-w(1px, $tab) {
      padding: 20px 0 15px;

    }
  }

  &.m-40 {
    @include min-max-w(1px, $tab) {
      padding: 20px 0
    }
  }

  &.m-45 {
    @include min-max-w(1px, $tab) {
      padding: 25px 0 20px;
    }
  }

  &.m-50 {
    @include min-max-w(1px, $tab) {
      padding: 25px 0
    }
  }
}
}
