/* контрольные точки; */
$mob-xs: 350px;
$mob-s: 475px;
$mob-m: 575px;
$mob-l: 768px;
$tab: 920px;
$lap-s: 1024px;
$lap-m: 1200px;
$lap-l: 1440px;
$lap-xl: 1600px;

$content-padding: 20px;
$content-zone: 1320px;