.link {
  position: relative;
  padding: 5px 10px;
  color: var(--text-color);
  background-color: transparent;
   
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--text-color);;
    transform: translate(-50%);
    transition: width .2s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  :global {
    .primary {
      background-color: var(--primary-color);
    }

    .secondary {
      background-color: var(--secondary-color);
    }
  }
}