.link {
  padding: 5px 10px;
  margin: 10px 0;
  color: var(--text-color);
  background-color: transparent;
  :global {
    .primary {
      background-color: var(--primary-color);
    }
    .secondary {
      background-color: var(--secondary-color);
    }
  }
}