@use "sass:math";

$h1Size: 96px;
$h2Size: 55px;
$h3Size: 36px;
$h4Size: 20px;
$h5Size: 18px;
$h6Size: 16px;

$hWeight: 400;
$hWeightThin: 300;

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  margin-top: 0;

  // margin-bottom: 1rem;
  letter-spacing: 0;
  font-family: var(--font-family);
  font-weight: $hWeight;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @include min-max-w(1px, $mob-l) {
    margin-bottom: 0.5rem;
    font-weight: 400;
  }

  &.thin{
    font-weight: $hWeightThin;
  }
}
    
.h1, h1 {
  font-size: $h1Size;
  line-height: math.round($h1Size * 1.2);

  @include min-max-w($mob-l + 1px, $lap-l) {
    font-size: math.round($h1Size * 0.65);
    line-height: math.round(($h1Size * 0.65) * 1.1);
  }

  @include min-max-w(1px, $mob-l) {
    font-size: math.round($h1Size * 0.37);
    line-height: math.round(($h1Size * 0.4) * 1.1);
  }
}

.h2, h2 {
  font-size: $h2Size;
  line-height: math.round($h2Size * 1.15);

  @include min-max-w($mob-l + 1px, $lap-l) {
    font-size: math.round($h2Size * 0.65);
    line-height: math.round(($h2Size * 0.65) * 1.1);
  }

  @include min-max-w(1px, $mob-l) {
    font-size: math.round($h2Size * 0.5);
    line-height: math.round(($h2Size * 0.5) * 1.1);
  }
}

.h3, h3 {
  font-size: $h3Size;
  line-height: math.round($h3Size * 1.1);

  @include min-max-w($mob-l + 1px, $lap-l) {
    font-size: math.round($h3Size * 0.85);
    line-height: math.round(($h3Size * 0.85) * 1.1);
  }

  @include min-max-w(1px, $mob-l) {
    font-size: math.round($h3Size * 0.7);
    line-height: math.round(($h3Size * 0.7) * 1.1);
  }
}

.h4, h4 {
  font-size: $h4Size;
  line-height: math.round($h4Size * 1.1);

  @include min-max-w($mob-l + 1px, $lap-l) {
    font-size: math.round($h4Size * 0.85);
    line-height: math.round(($h4Size * 0.85) * 1.1);

  }

  @include min-max-w(1px, $mob-l) {
    font-size: math.round($h4Size * 0.7);
    line-height: math.round(($h4Size * 0.7) * 1.1);
  }
}

.h5, h5 {
  font-size: $h5Size;
  line-height: math.round($h5Size * 1.1);

  @include min-max-w($mob-l + 1px, $lap-l) {
    font-size: math.round($h5Size * 0.85);
    line-height: math.round(($h5Size * 0.85) * 1.1);
  }

  @include min-max-w(1px, $mob-l) {
    font-size: math.round($h5Size * 0.7);
    line-height: math.round(($h5Size * 0.7) * 1.1);
  }
}

.h6, h6 {
  font-size: $h6Size;
  line-height: math.round($h6Size * 1.1);

  @include min-max-w($mob-l + 1px, $lap-l) {
    font-size: math.round($h6Size * 0.85);
    line-height: math.round(($h6Size * 0.85) * 1.1);
  }

  @include min-max-w(1px, $mob-l) {
    font-size: math.round($h6Size * 0.7);
    line-height: math.round(($h6Size * 0.7) * 1.1);
  }
}